@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "(cms)/**/*.{ts,tsx}";
@source "../components/cms/**/*.{ts,tsx}";

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer components {
    .labelText-light {
        color: var(--color-gray-100);
    }

    .inputText-light {
        color: var(--color-gray-400);
    }

    .labelText-dark {
        color: var(--color-gray-900);
        font-weight: bold;
    }

    .inputText-dark {
        color: var(--color-gray-700);
    }
}